@mixin button($background, $color) {
  @include rounded;
  background: $background;
  color: $color;
  padding: $padding-base-horizontal $padding-base-horizontal * 2;
  font-size: $f-baseSize;
  line-height: 26px;
  &:hover {
    color: $color;
    background: darken($background, 4%);
  }
}

@mixin buttonHeader {
  @include button($c-white, $c-label);
  font-size: $f-h3Size;
  border: 2px solid $c-borderThick;
}

@mixin buttonForm {
  @include button($c-green, $c-white);
  font-size: $f-baseSize;
  text-transform: uppercase;
}
