$prima-color: red;

$f-godSize: 42px;
$f-giantSize: 28px;
$f-h1Size: 20px;
$f-h2Size: 18px;
$f-h3Size: 16px;
$f-baseSize: 14px;
$f-largeSize: $font-size-large;
$f-smallSize: 12px;

/**
 * Variables
 */
$c-bodyBackground: #f8f8f8;
$c-white: #ffffff;
$c-vanilla: #ededed;
$c-searchBorder: #c8d5e1;
$c-label: #65839f;
$c-titleActive: #23285e;
$c-border: #e3e2e2;
$c-borderThick: #e0e1ef;
$c-blue: #3f6eb4;
$c-pink: #e14b6e;
$c-orange: #ea7349;
$c-green: #33b460;
$c-asphalt: #9495a3;
$c-linkActive: #00b8e0;
$c-nightsky: #303352;
$c-eveningsky: #3d405d;
$c-darkYellow: #ff9c00;
$c-fotmBackground: #eff0f8;
$c-selected: #242d59;
$c-dodgerBlue: #2A85F9;
